body {
  background: #252525;
  margin: 0;
  color: #fff;
  font-family: sans-serif;
}

#back {
  color: #999;
  margin-right: -1.5em;
  &>svg {
    width: 1.5em;
    vertical-align: middle;
  }
}

header {
  align-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 3em;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  border-bottom: 1px solid #112;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  /*view-transition-name: header;*/
}

@keyframes in {
  0% {
    opacity: 0;
    transform: translateX(var(--ix, -10%));
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes out {
  0% {
    opacity: 1;
    transform: 0;
  }

  100% {
    opacity: 0;
    transform: translateX(var(--ox, 10%));
  }
}

::view-transition-old(root) {
  animation: .1s ease-in out;
}

::view-transition-new(root) {
  animation: .1s ease-in in;
}

@view-transition {
  navigation: auto;
}